@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: LaBeauties;
    src: url(../Fonts/La\ Beauties.ttf);
}

nav {
    overflow: hidden;
    background-color: black;
    padding: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

.nav-barra a {
    float: left;
    margin-left: 50px;
    color: rgba(255, 255, 255, 0.867);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.dropdown {
    float: left;
    margin-left: 50px;
    overflow: hidden;
}

.dropdown .drop {
    color: rgba(255, 255, 255, 0.867);
    font-size: 20px;
    background-color: inherit;
    font-family: inherit;
    border: none;
    outline: none;
}

.nav-barra a:hover, .dropdown:hover {
    background-color: rgba(79, 79, 79, 0.821);
    padding: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    text-decoration: underline;
}

#float-right {
    float: right;
    padding-right: 5px;
    color: rgba(255, 255, 255, 0.867);
}


section {
    text-align: center;
}

h1 {
    font-size: 70px;
    padding-top: 15px;
    margin-bottom: 10px;
    font-family: LaBeauties;
}

#titulo2 {
    font-style: italic;
    color: gray;
    font-size: 16px;
    padding-bottom: 10px;
}

.paragrafo_section {
    max-width: 850px;
    min-width: 300px;
    text-align: justify;
    margin: auto;
    padding: 5px;
    text-indent: 30px;
}

.img-discografia {
    width: 250px;
    height: 300px;
}

article {
    background-color: black;
    text-align: center;
    height: 700px;
}

#tit-article {
    color: rgba(255, 255, 255, 0.87);
    padding: 10px;
    font-family: LaBeauties;
    font-size: 60px;
}

article > p {
    color: rgba(255, 255, 255, 0.87);
}

article > div {
    background-color: white;
    max-width: 790px;
    margin: auto;
    height: 400px;
}

.div-interna {
    float: left;
    text-indent: 10px;
}

.foto-article {
    width: 250px;
    height: auto;
}